body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: deeppink;
}

.container{
    font-size: 15px;
}

.cabecera{
    background-color: blue;
    box-shadow: 3px;
    color:white;
    font-size: 40px;
}